/* -------------------------font----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.world{
    margin: 5%;
    
}

/* ---------------dhaka division-------------- */

.dhaka{
    display: flex;
    height: 80%;
    background-color: black;
    border-radius: 25px;
    color: white;
}
.mirpur h1{
    font-size: 40;
}
.mirpur a{
    text-decoration: none;
    color: white;
    background-color: rgb(251, 76, 196);
    padding: 10px 20px;
    border-radius: 5px;
}
.fa-angle-right{
    margin-left: 15px;
}
.mirpur{
    width: 50%;
    margin: 3% 20% 5% 7%;
}
.uttara img{
    height: 500px;
    margin-left: -20%;
    margin-top: 2.5%;
    
}

/* ---------------------bongo------------------ */

.bonggo{
    display: flex;
    margin-top: 10%;
    gap: 20px;
}

/* ---------------------rajshahi division----------------- */

.rajshahi{
    margin-top: -20px;
    
}
.naogaon{
    margin-top: 10%;
    margin-bottom: 10%;
    display: grid;
    text-align: center;
    background-color: black;
    border-radius: 7px;
    gap: 20px;
    width: 200px;
    height: 220px;
    padding: 20px;
    
    
}
nav li {
    text-decoration: none;
    background-color: red;
    height: 45px;
    border-radius: 7px;
    margin: -10% 0 -15% -25%;
    padding-top: 10%;
}
nav li a{
    color: white;
    text-decoration: none;
}
#modhu{
    background-color: white;
    padding: 15px 25px;
    border-radius: 7px;
}
#khajur{
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 7px;
}
/* ................borisal---------------------- */

.borisal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
       
}
.borisal-inside{
    border: 1px solid rgb(224, 223, 223);
    /* width: 78%; */
    border-radius: 13px;
    
}
.Bakerganj img{
    width: 100%;
    
}
.Banaripara{
    padding: 20px;
}
.Banaripara span{
    display: inline;
}
.duration{
    display: flex;
}
.duration img{
    margin-bottom: -6px;
    margin-right: 7px;
}
.comment{
    margin-left: 10px;
    display: flex;
}
.comment img{
    margin-bottom: -6px;
    margin-right: 7px;
}

/* -------------------------footer--------------------- */

footer{
    color: white;
    text-align: center;
    background-color: black;
    height: 55%;
    margin-top: 7%;   
}
footer h1{
    padding-top: 10%;
    padding-bottom: 1%;
    
}

.foot{
    display: flex;
    margin: 0px 10% 0px 10%;
    padding-left: 10%;
    border-top: 1px solid rgba(255, 255, 255, 0.127);
}
.foot p{
    padding-top: 2%;
    color: rgba(192, 192, 192, 0.59);
    font-size: small;
    margin-left: 5%;
}
.foot-media{
    margin-top: 1%;
    margin-left: -2%;
}
.foot-media i{
    margin-left: 1%;
}

/* -------------------------media queris------------------------ */
/* +++++++mobile device ++++++++ */
@media only screen and (max-width: 668px) {
    .world{
        width: 100%;
    }
    .dhaka{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        width: 334px;
        height: 472px;
        border-radius: 15px;
        color: white;
        
    }
    .mirpur{
        padding-left: 10%;
        /* border: 1px solid red; */
        width: 65%;
    }
    .mirpur h1{
        font-size: larger;
    }
    .mirpur p{
        font-size: small;
    }
    .uttara img{
        padding-left: 20%;
        height: 70%;
    }

    /* ***** ***** ***** */

    .naogaon{
        
        display: grid;
        text-align: center;
        background-color: white;
        margin-left: 13%;
        padding: 0%;   
    }
    nav li{
        list-style: none;
    }
    #modhu{
        border: 1px solid rgba(192, 192, 192, 0.539);
        width: 50%;
        margin-left: 13%;
    }
    #khajur{
        border: 1px solid rgba(192, 192, 192, 0.539);
        width: 50%;
        margin-left: 13%;
    }

    /* ***** ***** ***** */

    .bonggo{
        display: inline;

    }
    .borisal{
        grid-template-columns: repeat(1, 1fr);
        width: 334px;
        margin-top: -3%;
    }

    /* ***** ***** ***** */

    footer{
        margin-top: -1%;
        height: 412px;
        width: 375px;
    }
    h1{
        
        font-size: x-large;
    }
    .foot {
        padding-right: 10%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
    }
    .foot-media{
        display: none;
    }
    
}
/* ===============tablet device=========== */

@media only screen and (min-width:668px) and (max-width:992px) {
    .world{
        width: 100%;
    }
    .dhaka{
        
        width: 734px;
        height: 398;
    }
    .mirpur{
        /* border: 1px solid red; */
        height: 80%;
        width: 50%;
        margin-left: 10%
        
    }
    .mirpur h1{
        font-size: xx-large;
    }
    .mirpur{
        font-size: small;
    }
    .uttara img{
        width: 130%;
        height: 90%;
        margin-left: -50%;
        margin-top: 15%;
        
    }
    .bonggo{
        display: inline;
        
    }
    .rajshahi{
        
        margin-top: -5%;
        
    }
    
    .naogaon{
        
        background: none;
        display: flex;
        width: 90%;
        height: 12%;
    }
    nav li{
        list-style: none;
        
    }
    #modhu{
        margin-top: 2px;
        border: 1px solid rgba(192, 192, 192, 0.265);
        height: 40%;
        width: 20%;
        margin-right: 20%;
        margin-left: 10%;
        
        
    }
    #khajur{
        margin-top: 2px;
        border: 1px solid rgba(192, 192, 192, 0.265);
        height: 40%;
        width: 20%;
        margin-left: -10%;
        
    }
    .borisal{
        margin-top: -10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-right: 5%;
    }
    .v-btn a{
        text-decoration: none;
        color: white;
        background-color: red;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .v-btn{
        text-align: center;
        margin-top: 5%;
    }
    
    footer{
        overflow-wrap: break-word;
        overflow: scroll;
    }
    .foot p{
        text-align: justify;
    }
    .foot-media{
        text-align: center;
    }

    
}
