/* -------------------------font----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.world{
    margin: 5%;
}

/* ---------------dhaka division-------------- */

.dhaka{
    display: flex;
    height: 80%;
    background-color: black;
    border-radius: 25px;
    color: white;   
}
.mirpur h1{
    font-size: 40;
}
.mirpur a{
    text-decoration: none;
    color: white;
    background-color: rgb(251, 76, 196);
    padding: 10px 20px;
    border-radius: 5px;
}
.fa-angle-right{
    margin-left: 15px;
}
.mirpur{
    width: 50%;
    margin: 3% 20% 5% 7%;
}
.uttara img{
    height: 500px;
    margin-left: -20%;
    margin-top: 2.5%;
    
}

/* ---------------------bongo------------------ */

.bonggo{
    display: flex;
    margin-top: 10%;
    gap: 20px;
}

/* ---------------------rajshahi division----------------- */

.rajshahi{
    margin-top: -20px;
    
}
.naogaon{
    margin-top: 10%;
    margin-bottom: 10%;
    display: grid;
    text-align: center;
    background-color: black;
    border-radius: 7px;
    gap: 20px;
    width: 200px;
    height: 200px;
    padding: 20px;
    
}
#kunjo{
    background-color: white;
    padding: 1px 25px;
    border-radius: 7px;
    
}
nav li {
    text-decoration: none;
    background-color: red;
    height: 45px;
    border-radius: 7px;
    margin: -10% 0 -15% -25%;
    padding-top: 10%;
}
nav li a{
    color: white;
    text-decoration: none;
}

#khajur{
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 7px;
}

/* ----------------------container--------------------- */

.container{
    display: grid;
    gap: 5% 10%;
    grid-template-columns: repeat(3, 1fr);
}

.bottol{
    text-align: center;
    padding: 10%;
    border: 1px solid rgba(192, 192, 192, 0.46);
    border-radius: 10px;
    width: 100%;
}
.mog{
    display: flex;
    
}
.flag-one img{
    margin-top: 10%;
    height: 50px;
    padding-right: 20px;
}

.flag-tow img{
    margin-top: 10%;
    height: 50px;
    padding-left: 20px;
}


/* -------------------------footer--------------------- */

footer{
    color: white;
    text-align: center;
    background-color: black;
    height: 55%;
    margin-top: 10%;   
}
footer h1{
    padding-top: 10%;
    padding-bottom: 1%;
    
}

.foot{
    display: flex;
    margin: 0px 10% 0px 10%;
    padding-left: 10%;
    border-top: 1px solid rgba(255, 255, 255, 0.127);
}
.foot p{
    padding-top: 2%;
    color: rgba(192, 192, 192, 0.59);
    font-size: small;
    margin-left: 5%;
}
.foot-media{
    margin-top: 1%;
    margin-left: -2%;
}
.foot-media i{
    margin-left: 1%;
}




/* ############################## */


